@model astroNerds.Models.HResult

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>HResult</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HoroscopeID" />
            <div class="form-group">
                <label asp-for="HoroscopeType" class="control-label"></label>
                <input asp-for="HoroscopeType" class="form-control" />
                <span asp-validation-for="HoroscopeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoroscopeText" class="control-label"></label>
                <input asp-for="HoroscopeText" class="form-control" />
                <span asp-validation-for="HoroscopeText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZodiacSign" class="control-label"></label>
                <select asp-for="ZodiacSign" class="form-control"></select>
                <span asp-validation-for="ZodiacSign" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
